.listing-photo {
  height: 300px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.listing-heading {
  margin-top: 40px;
  color: #d4d1b8;
  font-size: 48pt;
  font-weight: bold;
  line-height: 125%;
  margin-bottom: 15px;
}

.listing-location {
  margin-top: 40px;
  color: #afad99;
  font-size: 24pt;
  margin-bottom: 120px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 60px;
}

.listing-features {
  color: #afad99;
  font-size: 18pt;
  line-height: 125%;
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label,
input {
  display: block;
}
label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}
input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 0.3px;
}
@media (max-width: 1024px) {
  .listing-photo {
    width: 100%;
    height: 50%;
  }
}
